* {
    -webkit-touch-callout: none;
}

body {
    background-color: #eee;
    color: #111;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

#buttons {
    background: #444;
    box-sizing: border-box;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 99;
}

#buttons a {
    border: 1px solid #eee;
    color: #ff6600;
    box-sizing: border-box;
    display: inline-block;
    line-height: 2em;
    height: 2em;
    text-decoration: none;
    width: 50%;
}

ul {
    background-color: #333;
    list-style-type: none;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
}

li {
    background: #fff;
    left: 0;
    float: left;
    overflow-y: scroll;
    padding-top: 2em;
    position: absolute;
    top: 0;
    -webkit-transition: -webkit-transform 0.2s;
}

li, li.right {
    -webkit-transform: translate3d(100%,0,0);
}

li.left {
    -webkit-transform: translate3d(-100%,0,0);
}

li.left.reveal {
    z-index: 2;
    -webkit-transform: translate3d(-70%,0,0);
}

li.right.reveal {
    z-index: 2;
    -webkit-transform: translate3d(70%,0,0);
}

li.current {
    z-index: 1;
    -webkit-transform: translate3d(0,0,0);
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em;
}

p {
    font-size: 1.1em;
    line-height: 1.2em;
    margin: 1em;
}

img {
    width: 100%;
    height: 200px;
}
